<div class="card">
    <div class="contenido">
        <i class="fa-solid fa-code"></i>
            DOWNLOAD A <a href="../../../descargas/NewInstance.zip" style="cursor: pointer;">
                New Instance
            </a>
        <i class="fa-solid fa-code"></i>
    </div>
</div>

<div class="card">
    <div class="contenido">
        <i class="fa-solid fa-code"></i>
            Portafolio Api Rest<a href="../../micro-piezas/Portafolio/ApiRest/NewInstance/micro-piezas/" 
            style="cursor: pointer;">
                enter
            </a>
        <i class="fa-solid fa-code"></i>
    </div>
</div>