:root {
    --color-uno: #006400;
    --color-dos: rgba(50,205,50,0.2);
    --color-tres: rgba(34,139,34,0.4);
    --color-cuatro: #FFD700;
    --color-cinco: #008B8B;
    --color-seis: #fff;
    --color-siete: #000;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--color-cuatro);
}
body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Bruno Ace SC', cursive;
    background-color: var(--color-siete);
}
#ajax-button {
    box-shadow: 0px 1px 10px var(--color-dos);
    transition: all 400ms ease;
    cursor: pointer;
    font-family: 'Sedgwick Ave Display', cursive;
}
/*
este bloque de codigo fue reemplazado 
y optimizado en las lineas
#ajax-button:hover {
    box-shadow: 5px 5px 20px var(--color-tres);
    transform: translateY(-3%);
}
*/
#ajax-button {
    padding: 10px;
    background-color: var(--color-cinco);
    border: none;
    border-radius: 6px;
    color: var(--color-cuatro);
}
.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1100px;
    flex-wrap: wrap;
    border: 1px solid var(--color-cuatro);
    box-shadow: 5px 5px 20px var(--color-tres);
    padding: 10px;
    margin: 10px;
}
.container__ {
    transition: all 400ms ease;
}
.container__:hover {
    transform: translateY(-3%);
}
.container__:hover .contenido {
    font-size: 30px;
}
.card {
    width: 100%;
    overflow: hidden;
    margin: 20px;
    border-radius: 6px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
}
/*
colocando un identificador despues de otro 
es posible afectardo indirectamente
cuando pasamos el mause sobre otro objeto
al parecer esto funciona solamente en 
hijos de un elemento
*/
.card:hover #ajax-button , .card:hover header h1 {
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
    background-color: var(--color-seis);
    color: var(--color-siete);
}
.card .contenido {
    padding: 15px;
    text-align: center;
    font-family: 'Sedgwick Ave Display', cursive;
}
.noBorder {
    border: none;
}